
			<hr class="sep" />
		</main>
		<footer class="container no-print">
			{{ if ne .Kind "home" }}
			<a href="#top">
				<img class="icon-text" src="/img/toup.svg" alt="To Up"/>
				<span>{{ T "toUp" }}</span>
			</a>
			{{ end }}
			<div class="u-footer">
				{{ partial "social.html" . }}
				<p>
					{{ with .Site.Copyright }}
					{{ . | safeHTML }}
					{{ end }}
					{{ with .Site.Params.LicenseURL }}
					| <a href="{{.}}">{{ T "license" }}</a>
					{{ end }}
				</p>
				<script type="text/javascript" src="//rf.revolvermaps.com/0/0/2.js?i=56ynm161q1y&amp;m=7&amp;s=100&amp;c=ff3c00&amp;t=1" async="async"></script>
			</div>
		</footer>
		{{ if .Site.Params.HighlightJs }}
		<script>hljs.initHighlightingOnLoad();</script>
		{{ end }}
	</body>
</html>
